@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --Poppins: 'Poppins', sans-serif;
}
body{
    font-family: var(--Poppins);
    background-color: var(--VeryLightGray);
}

#light{
    font-weight: 200;
    text-align: center;
}
#bold{
    font-weight: 700;
    text-align: center;
}
#top p{
    font-weight: 200;
    font-size: clamp(0.8em, 2em);
    text-align: center;
}

#bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card{
   
    padding: 1.5em;
    height: 200px;
    width: 200px;
    border: none;
    box-shadow: 2px 3px 4px 3px var(--GrayishBlue);
    margin: 5px;
    border-radius: 5px;

}
.card h2{
font-size: 1em;
}
.card p{
    font-size: 0.5em;
}
.card img{
    float: right;

}
.card-1{
    
    border-top: 5px solid var(--Cyan);
}
.card-2{
    border-top: 5px solid var(--Red);
    
}
.card-3{
    border-top:5px solid var(--Orange);
  
}
.card-4{
    border-top: 5px solid var(--Blue);
    
}
@media screen and (min-width: 768px ){
    
#bottom{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}.card{
    margin: 15px;
}

}
@media screen and (min-width: 1024px ){
    .card{
        margin: 25px;
        height: 250px;
        width: 250px;
        font-size: 1.5rem;
    }
}